---
import AuthorityBanner from "../components/AuthorityBanner.astro";
import Contact from "../components/Contact.astro";
import FAQs from "../components/FAQs.astro";
import Hero from "../components/Hero.astro";
import Manifesto from "../components/Manifesto.astro";
import Methodology from "../components/Methodology.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout description="Agencia de desarrollo web, marketing digital y diseño en México. Transformamos ideas en realidades digitales con tecnología de vanguardia y estrategias innovadoras para impulsar tu negocio.">
	<Navbar />
	<main>
		<Hero />
		<AuthorityBanner />
		<Manifesto />
		<Methodology />
		<FAQs />
		<Contact />
	</main>
</Layout>
