---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<main>
		<h1 class="font-heading font-black text-6xl lg:text-8xl text-text">
			TRANSFORMAMOS IDEAS EN
			<span class="text-neon">REALIDADES</span>
		</h1>
	</main>
</Layout>
