---
import AuthorityBanner from "../components/AuthorityBanner.astro";
import Contact from "../components/Contact.astro";
import FAQs from "../components/FAQs.astro";
import Hero from "../components/Hero.astro";
import Manifesto from "../components/Manifesto.astro";
import Methodology from "../components/Methodology.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<AuthorityBanner />
		<Manifesto />
		<Methodology />
		<FAQs />
		<Contact />
	</main>
</Layout>
